body {
  color: #130FA1;
  font-family: 'Times New Roman';
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.elem {
  background-color: #FFFF00;
  border: 5px solid #000;
  margin: 0px;
  padding: 20px;
  width: 200px;
}

.team {
  border: 20px solid #008001;
  margin: 10px;
  width: 250px;
}
