body {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
}

#firstrow {
  font-weight: bold;
}

h1 {
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 53px;
  margin-bottom: 53px;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  font-style: italic;
}

.beginpart {
  font-size: 21px;
}


#endingpart {
  border-top: 5px;
  background-color: "red";
}
